/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dodatni stil za točkice na sliderima slika u day tours info */
.custom-dots {
  bottom: -40px;
}

.custom-dots li button::before {
  font-size: 12px;
  color: #d1d5db; /* Siva boja za neaktivne */
  opacity: 1;
}

.custom-dots li.slick-active button::before {
  color: #F97316 !important; /* Narančasta za aktivnu točkicu*/
}

.gallery-slider .slick-slide {
  transform: scale(0.85); /* Sve slike su inicijalno smanjene */
  transition: transform 0.4s ease-in-out;
}

.gallery-slider .slick-slide.slick-center {
  transform: scale(1); /* Srednja (aktivna) slika se vraća na punu veličinu */
}